<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @company.company_id %>
</p>

<p>
  <strong>Companyname:</strong>
  <%= @company.companyName %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
